        <div class="x_panel tile">
          <div class="x_title">
            <h2>Component Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class='x_content'>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>Development</h4>
            </td><td width='49%' style='vertical-align: top; padding-left: 0px; background-color: #eee; text-align: center;'>
              <h4>Links</h4>
            </td></tr>
            <tr><td style='vertical-align: top; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><li>Vendor :</li></td><td>My Company</td></tr>
              <tr><td><li>Language :</li></td><td>Go-lang</td></tr>
              <tr><td><li>Frameworks :</li></td><td>-</td></tr>
              <tr><td><li>Lifecycle :</li></td><td>Legacy</td></tr>
              <tr><td><li>Logging :</li></td><td>-</td></tr>
              <tr><td><li>Data access :</li></td><td>Metadata only</td></tr>
              </table> 
            </td><td style='vertical-align: top; background-color: #f8f8f8;'>
              <table class='component-details'>
              <tr><td><li>RAML :</li></td><td><a href='#'>link</a></td></tr>
              <tr><td><li>Repository :</li></td><td><a href='#'>link</a></td></tr>
              <tr><td><li>JIRA :</li></td><td>-</td></tr>
              <tr><td><li>Docs :</li></td><td>-</td></tr>
              <tr><td><li>Build job :</li></td><td><a href='#'>link</a></td></tr>
              <tr><td><li>Operations :<br>guideline&nbsp;&nbsp;</li></td><td>-</td></tr>
              </table>
            </td>
            </tr></table>

            <br>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>Cloud Products</h4>
            </td><td width='49%' style='vertical-align: top; background-color: #eee; text-align: center;'>
              <h4>On-prem Products</h4>
            </td></tr>
            <tr><td style='vertical-align: top; border-left: 1px solid #eee; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><li>Location :</li></td><td>Per-datacenter</td></tr>
              <tr><td><li>Environment :</li></td><td>Kubernetes</td></tr>
              <tr><td><li>Service name :</li></td><td>accsrv</td></tr>
              <tr><td><li>Binary name :</li></td><td>accsrv</td></tr>
              </table>
            </td><td style='vertical-align: top; border-left: 1px solid #eee; background-color: #f8f8f8;'>
              <table class='component-details'>
              <tr><td><li>Location :</li></td><td>Server</td></tr>
              <tr><td><li>OS :</li></td><td>Windows</td></tr>
              <tr><td><li>Type :</li></td><td>service</td></tr>
              <tr><td><li>Name :</li></td><td>service.exe</td></tr>
              </table>
            </tr></table>

            <br>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>Dependency</h4>
            </td><td width='49%' style='vertical-align: top; background-color: #eee; text-align: center;'>
              <h4>Compliance</h4>
            </td></tr>
            <tr><td style='vertical-align: top; padding: 5px 10px; border-left: 1px solid #eee; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><i style='font-size: 9px;' class='fa fa-database'></i></td><td>Percona cluster (RW)</td></tr>
              <tr><td><i style='font-size: 9px;' class='fa fa-dot-circle-o'></i></td><td>Auth gateway (REST)</td></tr>
              <tr><td><i style='font-size: 9px;' class='fa fa-envelope-o'></i></td><td>Stats server (MQ "myqueue" rcv)</td></tr>
              </table>
            </td><td style='vertical-align: top; border-left: 1px solid #eee; padding-left: 0px; background-color: #f8f8f8;'>
              <table class='component-details'>
              <tr><td><li>API is public :</li></td><td>-</td></tr>
              <tr><td><li>API guideline :</li></td><td>YES</td></tr>
              <tr><td><li>GDPR :</li></td><td>YES</td></tr>
              <tr><td><li>FIPS :</li></td><td>YES</td></tr>
              </table>
            </td>
            </tr></table>

            <br>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>RDBMS persistency</h4>
            </td><td width='49%' style='vertical-align: top; background-color: #eee; text-align: center;'>
              <h4>NoSQL persistency</h4>
            </td></tr>
            <tr><td style='vertical-align: top; border-left: 1px solid #eee; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><li>Supported DBs :</li></td><td>-</td></tr>
              <tr><td><li>ORM :</li></td><td>-</td></tr>
              <tr><td><li>DB conn pool :</li></td><td>-</td></tr>
              <tr><td><li>Volume growth :</li></td><td>-</td></tr>
              <tr><td><li>Data retention :</li></td><td>-</td></tr>
              </table>
            </td><td style='vertical-align: top; border-left: 1px solid #eee; padding-left: 0px; background-color: #f8f8f8;'>
              <table class='component-details'>
              <tr><td><li>Supported DBs :</li></td><td>-</td></tr>
              <tr><td><li>ORM :</li></td><td>-</td></tr>
              <tr><td><li>DB conn pool :</li></td><td>-</td></tr>
              <tr><td><li>Volume growth :</li></td><td>-</td></tr>
              <tr><td><li>Data retention :</li></td><td>-</td></tr>
              </table>
            </td>
            </tr></table>

            <br>


          </div>
        </div>
