        <div class="x_panel tile">
          <div class="x_title">
            <h2>Component Details</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class='x_content'>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>Development</h4>
            </td><td width='49%' style='vertical-align: top; padding-left: 0px; background-color: #eee; text-align: center;'>
              <h4>Links</h4>
            </td></tr>
            <tr><td style='vertical-align: top; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><li>Language :</li></td><td>Go-lang</td></tr>
              <tr><td><li>Frameworks :</li></td><td>-</td></tr>
              <tr><td><li>ORM :</li></td><td>-</td></tr>
              <tr><td><li>Supported DBs :</li></td><td>-</td></tr>
              <tr><td><li>Message Queue :</li></td><td>-</td></tr>
              <tr><td><li>Logging :</li></td><td>-</td></tr>
              </table> 
            </td><td style='vertical-align: top; background-color: #f8f8f8;'>
              <table class='component-details'>
              <tr><td><li>RAML :</li></td><td>link</td></tr>
              <tr><td><li>Repository :</li></td><td>link</td></tr>
              <tr><td><li>JIRA :</li></td><td>-</td></tr>
              <tr><td><li>Docs :</li></td><td>-</td></tr>
              <tr><td><li>Build job :</li></td><td>link</td></tr>
              <tr><td><li>Autotests :</li></td><td>-</td></tr>
              <tr><td><li>Operations :</li></td><td>-</td></tr>
              </table>
            </td>
            </tr></table>

            <br>
            <table width='100%'><tr>
            <td width='51%' style='vertical-align: top; background-color: #ccc; text-align: center;'>
              <h4>Details</h4>
            </td><td width='49%' style='vertical-align: top; background-color: #ddd; text-align: center;'>
              <h4>Compliance</h4>
            </td></tr>
            <tr><td style='vertical-align: top; border-left: 1px solid #eee; background-color: #e8e8e8;'>
              <table class='component-details'>
              <tr><td><li>Vendor :</li></td><td>My Company</td></tr>
              <tr><td><li>Lifecycle :</li></td><td>Legacy</td></tr>
              <tr><td><li>Location :</li></td><td>Per-datacenter</td></tr>
              <tr><td><li>Data privacy :</li></td><td>Metadata only</td></tr>
              </table>
            </td><td style='vertical-align: top; border-left: 1px solid #eee; padding-left: 0px; background-color: #eee;'>
              <table class='component-details'>
              <tr><td><li>API is public :</li></td><td>-</td></tr>
              <tr><td><li>API guideline :</li></td><td>YES</td></tr>
              <tr><td><li>GDPR :</li></td><td>YES</td></tr>
              <tr><td><li>FIPS :</li></td><td>YES</td></tr>
              </table>
            </td>
            </tr></table>


          </div>
        </div>
