                    <table style='float: right;'><tr>
                    <td style='text-align: right; padding-right: 10px;'>
                        <p>Component<br>profile<br>completion</p>
                    </td>
                    <td>
                      <div style="text-align: center; margin-bottom: 17px">
                        <span class="chart" style="width: 80px; height: 80px;" data-percent="86" data-size="70" data-line-width="6">
                                            <span class="percent" style='line-height: 70px;'>86</span>
                      </div>
                    </td>
                    </tr></table>
