Django==2.1.*
djangorestframework-datatables
django-cors-headers
django-filter
django-datatable-view
django-auth-ldap
ldapdomaindump
django-extensions
pygraphviz
django-modeladmin-reorder
jira-python
scalpl
gunicorn
gevent
