pytz
openpyxl
Django==2.1.*
djangorestframework-datatables
django-cors-headers
django-filter
django-datatable-view
django-auth-ldap
django-extensions
pygraphviz
pillow
django-modeladmin-reorder
jira-python
scalpl
gunicorn
gevent
iso3166