Django==2.1.*
django-auth-ldap
django-cors-headers
django-datatable-view
django-extensions
django-filter
django-modeladmin-reorder
django-simple-history
djangorestframework-datatables
djangorestframework-filters==1.0.0.dev0
djangorestframework-queryfields
gevent
gunicorn
jira-python
pygraphviz
pillow
scalpl
