{% load static %}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <div class="nav toggle">
      <a id="menu_toggle" class='site_title hidden-sm hidden-xs' style='padding-left: 0px;'><i class="fa fa-bars"></i><span>Panopticum</span></a>
    </div>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
  {% if user.is_authenticated %}
    <div class="profile_pic">
      <img src="{% if user.photo %}/api/user/{{user.id}}/photo/{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
           alt="{{user.username}}"
           class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{% firstof user.first_name user.username %}</h2>
    </div>

  {% else %}
    <div class="profile_info">
      <h2><a href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a></h2>
    </div>
  {% endif %}
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-table"></i>Dashboards<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/dashboard/components.html">Components</a></li>
            <li><a href='/dashboard/team/?requirementset=1#topfilters={"location"%3A1%2C"product"%3A4%2C"runtime"%3A""}&filters=[]'>Operations</a></li>
            <li><a href='/dashboard/team/?requirementset=2#topfilters={"location"%3A1%2C"product"%3A4%2C"runtime"%3A""}&filters=[]'>Maintenance</a></li>
            <li><a href="/dashboard/team/?requirementset=3">Compliance</a></li>
<!--
            <li><a href="/dashboard/links.html">Links</a></li>
            <li><a href="/dashboard/databases.html">Databases</a></li>
            <li><a href="/dashboard/owners.html">Owners</a></li>
            <li><a>Quality Assurance<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/dashboard/qa_unit_tests.html">Unit-tests</a></li>
                <li><a href="/dashboard/qa_end_to_end.html">End-to-End</a></li>
                <li><a href="/dashboard/qa_performance.html">Performance</a></li>
                <li><a href="/dashboard/qa_long_haul.html">Long haul</a></li>
                <li><a href="/dashboard/qa_security.html">Security</a></li>
                <li><a href="/dashboard/qa_api_check.html">API check</a></li>
                <li><a href="/dashboard/qa_anonymisation.html">Anonymisation</a></li>
              </ul>
            </li>
            <li><a>Maintenance<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/dashboard/datacenters.html">Datacenters</a></li>
                <li><a href="/dashboard/troubleshooting.html">Troubleshooting</a></li>
                <li><a href="/dashboard/open_ports.html">Open ports</a></li>
              </ul>
            </li>
//-->
          </ul>
        </li>
<!--
        <li><a><i class="fa fa-cubes"></i>Products<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#level1_1">A Product X</a>
            <li><a href="#level1_1">A Product Y</a>
            <li><a href="#level1_2">A Product Z</a>
          </ul>
        </li>
//-->

        <li><a><i class="fa fa-dot-circle-o"></i>Components<span class="fa fa-chevron-down"></span></a>
          <ul id='vue-components' class="nav child_menu">
<!-- FIXME, see _sidebar.js <li v-for="component in components"><a href="/component/{{ component.id }}">{{ component.name }}</a></li> //-->
          </ul>
        </li>

<!--
        <li><a><i class="fa fa-th"></i>Maps<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="#level1_2">Ownership</a>
            <li><a href="#level1_1">Dependency</a>
            <li><a href="#level1_1">Deployment</a>
            <li><a href="#level1_1">Activity heat map</a>
          </ul>
        </li>
//-->

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Admin" href='/admin/'>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="{% if user.is_authenticated %}Logout{% else %}Login{% endif %}"
       href="{% if user.is_authenticated %}{% url 'logout' %}{% else %}{% url 'login' %}{% endif %}?next={{ request.get_full_path }}">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
    <a style="width: 50%; height: 35px;"></a>
  </div>
  <!-- /menu footer buttons -->
</div>
