{% extends "layout/_base.html" %}

{% block title %} [[ component.name ]] {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<!-- Temporary disable, because vue js breaks all the javascripts  <div class="right_col" role="main" id="vue-component2"> //-->
  <div class="right_col" role="main" id="vue-component">
    <div class="">

      <div class='row top_tiles'>
        <div class="col-md-8 tile">
          {% include "widget/component_page_title.html" %}
        </div>
        <div class="col-md-4 tile">
          {% include "widget/component_profile_completion.html" %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_summary.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_activity.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_dependency.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_owners.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_deployments.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_ratings.html" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script>
function init_component_page_js() {
    {% include "widget/component_profile_completion.js" %}
    {% include "widget/component_activity.js" %}
    {% include "widget/component_rating_chart.js" %}
    {% include "widget/component_ratings.js" %}
}

function replace_urls_in_text(text) {
    var re = /((http|https|ftp):\/\/[\w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-]*>))/g
    return text.replace(re,"<a href='$1' target=_blank><i class='fa fa-external-link'></i></a>");
}

function update_component_page_elements() {
    $(".pa-replace-urls").each(function(index, el) {
        var val = replace_urls_in_text($(el).html());
        $(el).html(val);
    });

    $(".pa-quality").each(function(index, el) {
        var val = $(el).html();
        if (val == "unknown") {
            $(el).html("<i class='unknown fa fa-question-circle'></i>");
        } else if (val == "none") {
            $(el).html("<i class='fa fa-star-o'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "low") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "med") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-o'></i>");
        } else if (val == "high") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>");
        }
    });

    $(".pa-status").each(function(index, el) {
        var val = $(el).html();
        if (val == "unknown") {
            $(el).html("<i class='unknown fa fa-question-circle'></i>");
        } else if (val == "no") {
            $(el).html("<span class='no'>NO</span>");
        } else if (val == "partial") {
            $(el).html("<span class='some'>Some</span>");
        } else if (val == "yes") {
            $(el).html("<span class='yes'>YES</span>");
        }
    });

    $(".pa-component-stars").each(function(index, el) {
        var val = parseInt($(el).html());
        var new_val = "";
        var on = "<i class='fa fa-star'></i>";
        var off = "<i class='fa fa-star-o'></i>";

        new_val += (val >= 20) ? on : off;
        new_val += (val >= 40) ? on : off;
        new_val += (val >= 60) ? on : off;
        new_val += (val >= 80) ? on : off;
        new_val += (val >= 95) ? on : off;

        $(el).html(new_val);
    });

    $(".pa-component-rating").each(function(index, el) {
        var val = parseInt($(el).html());
        $(el).removeClass("pa-component-rating-low pa-component-rating-med pa-component-rating-high");
        if (val >= 80)
           $(el).addClass("pa-component-rating-high");
        else if (val >= 50)
           $(el).addClass("pa-component-rating-med");
        else
           $(el).addClass("pa-component-rating-low");
    });
}

function vue_component_init() {
    console.log("vue_component_init()");

    var url = '/api' + window.location.pathname + '/?format=json'

    const app = new Vue({
        el: "#vue-component",
        delimiters: ['[[', ']]'],
        data: {
            component: {
                'category': {},
                'runtime_type': {},
                'latest_version':{
                    'operations': {},
                    'quality_assurance': {},
                    'maintenance': {},
                    'owner_maintainer': {},
                    'owner_responsible_qa': {},
                    'owner_product_manager': {},
                    'owner_program_manager': {},
                    'owner_escalation_list': {},
                    'owner_expert': {},
                    'owner_architect': {}
                },
                'vendor':{},
                'data_privacy_class':{},
            },
            loading: true,
            erroed: false
        },
        created: function() {
           axios
               .get(url)
               .then(response => {
                   this.component = response.data;
                   this.$nextTick(function () {
                       update_component_page_elements();
                   });
               })
               .catch(error => {
                   console.log(error);
                   this.errored = true
               })
               .finally(res => {
                   this.loading = false;
               });
        },
        mounted: function() {
           init_component_page_js();
        },
    });
}
$(document).ready(function() {
    vue_component_init();
});
</script>
{% endblock %}
