{% extends "layout/_base.html" %}

{% block title %} [[ component.name ]] {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<!-- Temporary disable, because vue js breaks all the javascripts  <div class="right_col" role="main" id="vue-component2"> //-->
  <div class="right_col" role="main" id="vue-component">
    <div class="">

      <div class='row top_tiles'>
        <div class="col-md-8 tile">
          {% include "widget/component_page_title.html" %}
        </div>
        <div class="col-md-4 tile">
          {% include "widget/component_profile_completion.html" %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_summary.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_activity.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_dependency.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_owners.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_deployments.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_ratings.html" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script>
function init_activity_chart() {
    if ($('#activity-chart').length) {

        var ctx = document.getElementById("activity-chart");
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                datasets: [{
                    label: 'Bugs in JIRA',
                    backgroundColor: "#26B99A",
                    data: [51, 30, 40, 28, 92, 50, 45]
                }, {
                    label: 'Commits in Git',
                    backgroundColor: "#03586A",
                    data: [41, 56, 25, 48, 72, 34, 12]
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 20,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    }
}

function init_rating_chart() {
    $('.chart').easyPieChart({
        easing: 'easeOutElastic',
        delay: 3000,
        barColor: '#26B99A',
        trackColor: '#fff',
        scaleColor: false,
        lineWidth: 5,
        trackWidth: 3,
        lineCap: 'butt',
        onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent));
        }
    });
}

function init_profile_completeness_gauge(component) {
    if (typeof(Gauge) === 'undefined') {
        return;
    }

    var chart_gauge_settings = {
        lines: 12,
        angle: 0,
        lineWidth: 0.3,
        pointer: {
            length: 0.75,
            strokeWidth: 0.042,
            color: '#1D212A'
        },
        limitMax: 'false',
        colorStart: '#1ABC9C',
        colorStop: '#1ABC9C',
        strokeColor: '#e0e0e0',
        generateGradient: true
    };

    $('#profile-completeness-gauge-text').each(function(index, el) {
       $(el).attr('data-original-title', 'fields to be filled: ' + component.latest_version.meta_profile_not_filled_fields);
    });

    if ($('#profile-completeness-gauge').length) {
        var profile_completeness_gauge_elem = document.getElementById('profile-completeness-gauge');
        var profile_completeness_gauge = new Gauge(profile_completeness_gauge_elem).setOptions(chart_gauge_settings);
    }

    if ($('#profile-completeness-gauge-text').length) {
        profile_completeness_gauge.maxValue = 100;
        profile_completeness_gauge.animationSpeed = 10;
        profile_completeness_gauge.set(component.latest_version.meta_profile_completeness);
        profile_completeness_gauge.setTextField(document.getElementById("profile-completeness-gauge-text"));
    }
}

function replace_urls_in_text(text) {
    var re = /((http|https|ftp):\/\/[\w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-]*>))/g
    return text.replace(re,"<a href='$1' target=_blank><i class='fa fa-external-link'></i></a>");
}

function update_component_page_elements(component) {
    $(".pa-replace-urls").each(function(index, el) {
        var val = replace_urls_in_text($(el).html());
        $(el).html(val);
    });

    $(".pa-quality").each(function(index, el) {
        var val = $(el).html();
        if (val == "unknown") {
            $(el).html("<i class='unknown fa fa-question-circle'></i>");
        } else if (val == "none") {
            $(el).html("<i class='fa fa-star-o'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "low") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "med") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-o'></i>");
        } else if (val == "high") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>");
        }
    });

    $(".pa-status").each(function(index, el) {
        var val = $(el).html();
        if (val == "unknown") {
            $(el).html("<i class='unknown fa fa-question-circle'></i>");
        } else if (val == "no") {
            $(el).html("<span class='no'>NO</span>");
        } else if (val == "partial") {
            $(el).html("<span class='some'>Some</span>");
        } else if (val == "yes") {
            $(el).html("<span class='yes'>YES</span>");
        }
    });

    $(".pa-component-stars").each(function(index, el) {
        var val = parseInt($(el).html());
        console.log($(el), val);
        var new_val = "";
        var on = "<i class='fa fa-star'></i>";
        var off = "<i class='fa fa-star-o'></i>";

        new_val += (val >= 20) ? on : off;
        new_val += (val >= 40) ? on : off;
        new_val += (val >= 60) ? on : off;
        new_val += (val >= 80) ? on : off;
        new_val += (val >= 95) ? on : off;
        console.log(new_val);

        $(el).html(new_val);
    });

    $(".pa-component-rating").each(function(index, el) {
        var val = parseInt($(el).html());
        $(el).removeClass("pa-component-rating-low pa-component-rating-med pa-component-rating-high");
        if (val >= 80)
           $(el).addClass("pa-component-rating-high");
        else if (val >= 50)
           $(el).addClass("pa-component-rating-med");
        else
           $(el).addClass("pa-component-rating-low");
    });

    $('[data-toggle="tooltip"]').tooltip();

    init_profile_completeness_gauge(component);
    init_rating_chart();
    init_activity_chart();
}

function vue_component_init() {
    console.log("vue_component_init()");

    var url = '/api' + window.location.pathname + '/?format=json'

    const app = new Vue({
        el: "#vue-component",
        delimiters: ['[[', ']]'],
        data: {
            component: {
                'category': {},
                'runtime_type': {},
                'latest_version':{
                    'operations': {},
                    'quality_assurance': {},
                    'maintenance': {},
                    'owner_maintainer': {},
                    'owner_responsible_qa': {},
                    'owner_product_manager': {},
                    'owner_program_manager': {},
                    'owner_escalation_list': {},
                    'owner_expert': {},
                    'owner_architect': {}
                },
                'vendor':{},
                'data_privacy_class':{},
            },
            loading: true,
            erroed: false
        },
        created: function() {
           axios
               .get(url)
               .then(response => {
                   this.component = response.data;
                   this.$nextTick(function () {
                       update_component_page_elements(this.component);
                   });
               })
               .catch(error => {
                   console.log(error);
                   this.errored = true
               })
               .finally(res => {
                   this.loading = false;
               });
        },
    });
}
$(document).ready(function() {
    vue_component_init();
});
</script>
{% endblock %}
