{% extends "layout/_base.html" %}
{% load static %}

{% block title %} [[ component.name ]] {% endblock title %}

{% block scripts %}
  {{ block.super }}
 <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <script src="https://unpkg.com/http-vue-loader"></script>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}

<!-- Temporary disable, because vue js breaks all the javascripts  <div class="right_col" role="main" id="vue-component2"> //-->
  <div class="right_col" role="main" id="vue-component">
    <div class="">

      <div class='row top_tiles'>
        <div class="col-md-8 tile">
          {% include "widget/component_page_title.html" %}
        </div>
        <div class="col-md-4 tile">
          {% include "widget/component_profile_completion.html" %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_summary.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_activity.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_dependency.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_owners.html" %}
            </div>
            <div class="col-xs-12">
              {% include "widget/component_deployments.html" %}
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-12">
              {% include "widget/component_ratings.html" %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
<script>

var default_latest_version = {
    'operations': {},
    'depends_on': {},
    'quality_assurance': {},
    'maintenance': {},
    'owner_maintainer': {},
    'owner_responsible_qa': {},
    'owner_product_manager': {},
    'owner_program_manager': {},
    'owner_escalation_list': {},
    'owner_expert': {},
    'owner_architect': {},
    'meta_profile_not_filled_fields': '',
};

function init_activity_chart() {
    if ($('#activity-chart').length) {

        var ctx = document.getElementById("activity-chart");
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                datasets: [{
                    label: 'Bugs in JIRA',
                    backgroundColor: "#26B99A",
                    data: [51, 30, 40, 28, 92, 50, 45]
                }, {
                    label: 'Commits in Git',
                    backgroundColor: "#03586A",
                    data: [41, 56, 25, 48, 72, 34, 12]
                }]
            },

            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            stepSize: 20,
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    }
}

function init_rating_chart() {
    $('.chart').easyPieChart({
        easing: 'easeOutElastic',
        delay: 3000,
        barColor: '#26B99A',
        trackColor: '#fff',
        scaleColor: false,
        lineWidth: 5,
        trackWidth: 3,
        lineCap: 'butt',
        onStep: function(from, to, percent) {
            $(this.el).find('.percent').text(Math.round(percent));
        }
    });
}

function init_profile_completeness_gauge(component) {
    if (typeof(Gauge) === 'undefined') {
        return;
    }

    var chart_gauge_settings = {
        lines: 12,
        angle: 0,
        lineWidth: 0.3,
        pointer: {
            length: 0.75,
            strokeWidth: 0.042,
            color: '#1D212A'
        },
        limitMax: 'false',
        colorStart: '#1ABC9C',
        colorStop: '#1ABC9C',
        strokeColor: '#e0e0e0',
        generateGradient: true
    };

    $('#profile-completeness-gauge-text').each(function(index, el) {

        if (component.latest_version.meta_profile_not_filled_fields == "")
            $(el).attr('title', 'Good job!');
        else if (component.latest_version.meta_profile_not_filled_fields)
            $(el).attr('title', pa_tooltip_from_list('<b>Fields to be filled:</b>',
                                                      component.latest_version.meta_profile_not_filled_fields));
        else
            $(el).attr('title', 'no component version created in admin panel!');

        $(el).click(function() {
            window.open('/admin/panopticum/componentversionmodel/' + component.latest_version.id + '/change/');
            return false;
        });
        $(el).css('cursor', 'pointer');

        pa_tooltip(el);
    });

    if ($('#profile-completeness-gauge').length) {
        var profile_completeness_gauge_elem = document.getElementById('profile-completeness-gauge');
        var profile_completeness_gauge = new Gauge(profile_completeness_gauge_elem).setOptions(chart_gauge_settings);
    }

    if ($('#profile-completeness-gauge-text').length) {
        var val = component.latest_version.meta_profile_completeness ? component.latest_version.meta_profile_completeness : 0;
        profile_completeness_gauge.maxValue = 100;
        profile_completeness_gauge.animationSpeed = 10;
        profile_completeness_gauge.set(val);
        profile_completeness_gauge.setTextField(document.getElementById("profile-completeness-gauge-text"));
    }
}

function update_component_page_elements(component) {
    pa_replace_urls();

    $(".pa-quality").each(function(index, el) {
        var val = $(el).html();
        if (val == "unknown") {
            $(el).html("<i class='unknown fa fa-question-circle'></i>");
        } else if (val == "none") {
            $(el).html("<i class='fa fa-star-o'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "low") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star-o'></i><i class='fa fa-star-o'></i>");
        } else if (val == "med") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star-o'></i>");
        } else if (val == "high") {
            $(el).html("<i class='fa fa-star'></i><i class='fa fa-star'></i><i class='fa fa-star'></i>");
        }
    });

    $(".pa-component-stars").each(function(index, el) {
        var val = parseInt($(el).html());
        console.log($(el), val);
        var new_val = "";
        var on = "<i class='fa fa-star'></i>";
        var off = "<i class='fa fa-star-o'></i>";

        new_val += (val >= 20) ? on : off;
        new_val += (val >= 40) ? on : off;
        new_val += (val >= 60) ? on : off;
        new_val += (val >= 80) ? on : off;
        new_val += (val >= 95) ? on : off;
        console.log(new_val);

        $(el).html(new_val);
    });

    $(".pa-component-rating").each(function(index, el) {
        var val = parseInt($(el).html());
        $(el).removeClass("pa-component-rating-low pa-component-rating-med pa-component-rating-high");
        if (val >= 80)
           $(el).addClass("pa-component-rating-high");
        else if (val >= 50)
           $(el).addClass("pa-component-rating-med");
        else
           $(el).addClass("pa-component-rating-low");
    });

    init_profile_completeness_gauge(component);
    init_rating_chart();
    init_activity_chart();
}

function vue_component_init() {
    console.log("vue_component_init()");

    var url = '/api' + window.location.pathname + '/?format=json'

    const app = new Vue({
        el: "#vue-component",
        components: {
            'widget-signoff': httpVueLoader('{% static "components/widget-signoff.vue"%}')
        },
        delimiters: ['[[', ']]'],
        data: {
            component: {
                'category': {},
                'runtime_type': {},
                'latest_version': default_latest_version,
                'vendor':{},
                'data_privacy_class':{},
            },
            loading: true,
            erroed: false
        },
        created: function() {
           let component;
           let latest_version = default_latest_version;
           let requests = [
              axios.get(url)
                .then(response => {
                   // we can't assign response.data directly to this.component, because it will trigger
                   // rerender. We doesn't have component.latest_version at this moment and it will raise error at render.
                   // We will get it component.latest_version later. Also if next request will be finished
                   // first we will overwrite component.latest_version.
                   component = response.data;
                })
                .catch(error => {
                   console.log(error);
                   this.errored = true
                }),
              axios.get(`/api${window.location.pathname}/latest_version/?format=json`)
                .then(response => {
                    latest_version = response.data;
                })
                .catch(error => {
                })
           ];
           // make parallel requests
           axios.all(requests).then(_ => {
               // when all requests is finished and all required data obtained, we can trigger rerender
               component.latest_version = latest_version;
               this.component = component;
               this.loading = false;
               this.$nextTick(function () {
                    update_component_page_elements(this.component);
               });
           });
        },
    });
}
$(document).ready(function() {
    vue_component_init();
});
</script>
{% endblock %}
