{% extends "layout/_base.html" %}

{% block title %} Component X {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

<div class="row title_left">
    <div class="col-sm-12">
        <h3>Components</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
         <label for="product">Product / Branch</label>
         <select class="form-control" id="product"></select>
    </div>
    <div class="col-sm-2">
         <label for="component_location_class">Location Class</label>
         <select class="form-control" id="component_location_class"></select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><hr></div>
</div>
<div class="row">
    <div class="col-sm-12">
      <div class='x_panel'>
        <table id="components" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class='colId'>ID</th>
                    <th class='colProduct'>Product</th>
                    <th class='colCategory'>Category</th>
                    <th class='colRuntimeType'>Runtime Type</th>
                    <th class='colDataPrivacyClass'>Data Privacy Class</th>
                    <th class='colComponent searchable'>Component</th>
                    <th class='colVersion searchable'>Version</th>
                    <th class='colMaintainer searchable'>Maintainer</th>
                    <th class='colResponsibleQa searchable'>Responsible QA</th>
                    <th class='colRaml'>RAML</th>
                    <th class='colRepo'>Repo</th>
                    <th class='colDocs'>Docs</th>
                    <th class='colJira'>JIRA</th>
                    <th class='colProfileCompleteness' title='Profile completeness %'>Profile</th>
                    <th class='colRating' title='Component rating %'>Rating</th>
                    <th class='colProfileNotFilledFields'></th>
                    <th class='colBadRatingFields'></th>
                </tr>
            </thead>
        </table>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
<script>

function populate_options(id, url) {
    let dropdown = $(id);

    dropdown.empty();
    dropdown.append('<option selected="true"></option>');
    dropdown.prop('selectedIndex', 0);

    $.getJSON(url, function (data) {
        $.each(data.results, function (key, entry) {
            dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
        })
    });

    // FIXME: add on-change action to put it into the URL
    // FIXME: set URL-passed parameter as default
}

$(document).ready(function() {
    populate_options("#product", "/api/product/?format=json");
    populate_options("#component_location_class", "/api/component_location_class/?format=json");

    // Setup - add a text input to each footer cell

    $('#components thead tr').clone(true).appendTo('#components thead');
    $('#components thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();

        if (title == "Category") {
            $(this).html("<select id='component_category'></select>");
            populate_options("#component_category", "/api/component_category/?format=json");
        } else if (title == "Runtime Type") {
            $(this).html("<select id='component_runtime_type'></select>");
            populate_options("#component_runtime_type", "/api/component_runtime_type/?format=json");
        } else if (title == "Data Privacy Class") {
            $(this).html("<select id='component_data_privacy_class'></select>");
            populate_options("#component_data_privacy_class", "/api/component_data_privacy_class/?format=json");
        } else if ($(this).hasClass('searchable')) {
            $(this).html('<input type="text" placeholder="" />');
            $('input', this ).on('keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table.column(i).search(this.value).draw();
                }
            });
        } else {
            $(this).html('');
        }
    });

    var table = $('#components').DataTable({
        "orderCellsTop": true,
        "fixedHeader": true,
        "serverSide": true,
        "ajax": "/api/component_version/?format=datatables",
        "initComplete": function(settings, json) {
            $('[data-toggle="tooltip"]').tooltip();
        },
        "columns": [
            {"data": "id", "searchable": false},
            {"data": "component.name"},
            {"data": "component.category.name"},
            {"data": "component.runtime_type.name"},
            {"data": "component.data_privacy_class.name"},
            {"data": "component.name"},
            {"data": "version"},
            {"data": "owner_maintainer.email"},
            {"data": "owner_responsible_qa.email"},
            {"data": "dev_raml"},
            {"data": "dev_repo"},
            {"data": "dev_documentation"},
            {"data": "dev_jira_component"},
            {"data": "meta_profile_completeness"},
            {"data": "meta_rating"},
            {"data": "meta_profile_not_filled_fields"},
            {"data": "meta_bad_rating_fields"}
        ],
        "columnDefs": [
            {
                "targets": ["colProduct", "colProfileNotFilledFields", "colBadRatingFields"],
                "visible": false,
            },
            {
                "targets": "colCategory",
                "width": "50px",
            },
            {
                "targets": "colVersion",
                "width": "40px"
            },
            {
                "targets": ["colId", "colProduct", "colRaml", "colRepo", "colDocs", "colJira",
                            "colProfileCompleteness", "colRating"],
                "searchable": false
            },
            {
                "targets": ["colId", "colComponent"],
                "render": function(data, type, row) {
                    return "<a target=_blank href='/component/" + data + "'>" + data + "</a>";
                }
            },

            {
                "targets": ["colMaintainer", "colResponsibleQa"],
                "type": "string",
                "render": function(data, type, row) {
                    if (data)
                        return "<a target=_blank href='mailto:" + data + "'>" + data + "</a>";
                    return "";
                }
            },
            {
                "targets": ["colRaml", "colRepo", "colDocs", "colJira"],
                "type": "string",
                "render": function(data, type, row) {
                    if (data)
                        return replace_urls_in_text(data);
                    return "";
                }
            },
            {
                "targets": ["colProfileCompleteness"],
                "type": "string",
                "render": function(data, type, row) {
                    console.log(row);
                    if (data == "100")
                        return data + "%";
                    else if (data)
                        return "<a href='/admin/panopticum/componentversionmodel/" + row.id + "/change/' " +
                               " target=_blank data-toggle='tooltip' data-placement='left'" +
                               " title='empty fields: " + row.meta_profile_not_filled_fields + "'>" + data + "%</span>";
                    return "";
                }
            },
            {
                "targets": ["colRating"],
                "type": "string",
                "render": function(data, type, row) {
                    console.log(row);
                    if (data == "100")
                        return data + "%";
                    else if (data)
                        return "<a href='/admin/panopticum/componentversionmodel/" + row.id + "/change/' " +
                               " target=_blank data-toggle='tooltip' data-placement='left'" +
                               " title='bad rating: " + row.meta_bad_rating_fields + "'>" + data + "%</span>";
                    return "";
                }
            },
        ]
    });

    $('#components select').on('change', function() {
        var category = $("#component_category").children("option:selected").text();
        var runtime_type = $("#component_runtime_type").children("option:selected").text();
        var data_privacy_class = $("#component_data_privacy_class").children("option:selected").text();
        var filter = $("#components_filter").children("input").text();
        table.columns(2 /*"colCategory*/).search(category).
              columns(3 /*"colRuntimeType"*/).search(runtime_type).
              columns(4 /*"colDataPrivacyClass"*/).search(data_privacy_class).
              columns(5, 6, 7, 8 /*"colComponent", "colVersion", "colMaintainer", "colResponsibleQa"*/).search(filter).draw();
    });

    $('.colVersion input').width('50px');
});
</script>

</div></div>
{% endblock %}
