{% extends "layout/_base.html" %}

{% block title %} Components dashboard {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

<div class="row title_left">
    <div class="col-sm-12">
        <h3>Components dashboard</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
         <label for="product_version">Product / Branch</label>
         <select class="form-control update-table" id="product_version"></select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"><hr></div>
</div>
<div class="row">
    <div class="col-sm-12">
      <div class='x_panel'>
        <table id="components" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class='colId'>ID</th>
                    <th class='colProductVersion'>Product</th>
                    <th class='colLocationClass'>Location</th>
                    <th class='colComponent searchable'>Component</th>
                    <th class='colCategory'>Category</th>
                    <th class='colRuntimeType'>Runtime Type</th>
                    <th class='colDataPrivacyClass'>Data Privacy Class</th>
                    <th class='colVersion searchable'>Version</th>
                    <th class='colMaintainer searchable'>Maintainer</th>
                    <th class='colRaml'>RAML</th>
                    <th class='colRepo'>Repo</th>
                    <th class='colDocs'>Docs</th>
                    <th class='colJira'>JIRA</th>
                    <th class='colProfileCompleteness' title='Profile completeness %'>Profile</th>
                    <th class='colRating' title='Component rating %'>Rating</th>
                    <th class='colProfileNotFilledFields'></th>
                    <th class='colBadRatingFields'></th>
                </tr>
            </thead>
        </table>
      </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
<script>

function populate_options(refc, id, url, first_is_empty) {
    let dropdown = $(id);

    refc.inc();

    dropdown.empty();
    if (first_is_empty)
        dropdown.append('<option selected="true"></option>');
    dropdown.prop('selectedIndex', 0);

    $.getJSON(url, function (data) {
        $.each(data.results, function (key, entry) {
            dropdown.append($('<option></option>').attr('value', entry.id).text(entry.name));
        })
        refc.dec();
    });

    // FIXME: add on-change action to put it into the URL
    // FIXME: set URL-passed parameter as default
}

function load_table(table) {
    var product_version = meta_searchstr_wrap($("#product_version").children("option:selected").text());
    var location_class = meta_searchstr_wrap($("#location_class").children("option:selected").text());
    var category = $("#component_category").children("option:selected").text();
    var runtime_type = $("#component_runtime_type").children("option:selected").text();
    var data_privacy_class = $("#component_data_privacy_class").children("option:selected").text();
    var filter = $("#components_filter").children("input").text();
    table.columns(1 /*"colProductVersion"*/).search(product_version).
          columns(2 /*"colLocationClass"*/).search(location_class).
          columns(4 /*"colCategory"*/).search(category).
          columns(5 /*"colRuntimeType"*/).search(runtime_type).
          columns(6 /*"colDataPrivacyClass"*/).search(data_privacy_class).
          columns(3, 7, 8 /*"colComponent", "colVersion", "colMaintainer"*/).search(filter).draw();
}

function create_table() {
    var table = $('#components').DataTable({
        "orderCellsTop": true,
        "fixedHeader": true,
        "serverSide": true,
        "deferLoading": false, // do not load data after table creation
        "ajax": "/api/component_version/?format=datatables",
        "drawCallback": function(settings) {
            pa_replace_urls();
            pa_tooltip('[data-toggle="tooltip"]');
        },
        "columns": [
            {"data": "id", "searchable": false},
            {"data": "meta_searchstr_product_versions"},
            {"data": "meta_searchstr_locations"},
            {"data": "component.name"},
            {"data": "component.category.name"},
            {"data": "component.runtime_type.name"},
            {"data": "component.data_privacy_class.name"},
            {"data": "version"},
            {"data": "owner_maintainer.email"},
            {"data": "dev_raml"},
            {"data": "dev_repo"},
            {"data": "dev_docs"},
            {"data": "dev_jira_component"},
            {"data": "meta_profile_completeness"},
            {"data": "meta_rating"},
            {"data": "meta_profile_not_filled_fields"},
            {"data": "meta_bad_rating_fields"}
        ],
        "columnDefs": [
            {
                "targets": ["colProductVersion", "colProfileNotFilledFields", "colBadRatingFields"],
                "type": "string",
                "visible": false,
            },
            {
                "targets": "colLocationClass",
                "width": "50px",
                "render": function(data, type, row) {
                    filtered_class = $("#location_class").children("option:selected").text();
                    if (filtered_class)
                        return filtered_class;
                    return meta_searchstr_unwrap(data).replace(/, /g, "<br>");
                }
            },
            {
                "targets": "colId",
                "width": "50px",
            },
            {
                "targets": "colCategory",
                "width": "50px",
            },
            {
                "targets": "colVersion",
                "width": "40px"
            },
            {
                "targets": ["colId", "colRaml", "colRepo", "colDocs", "colJira",
                            "colProfileCompleteness", "colRating"],
                "searchable": false
            },
            {
                "targets": ["colId", "colComponent"],
                "render": function(data, type, row) {
                    return "<a target=_blank href='/component/" + row.component.id + "'>" + data + "</a>";
                }
            },

            {
                "targets": ["colMaintainer"],
                "type": "string",
                "render": function(data, type, row) {
                    if (data)
                        return "<a target=_blank href='mailto:" + data + "'>" + data + "</a>";
                    return "";
                }
            },
            {
                className: "pa-replace-urls",
                "targets": ["colRaml", "colRepo", "colDocs", "colJira"],
                "type": "string",
                "render": function(data, type, row) {
                    return data;
                }
            },
            {
                "targets": ["colProfileCompleteness"],
                "type": "string",
                "render": function(data, type, row) {
                    console.log(row);
                    if (data == "100")
                        return data + "%";
                    else if (data)
                        return "<a href='/admin/panopticum/componentversionmodel/" + row.id + "/change/' " +
                               " target=_blank data-toggle='tooltip' data-placement='left'" +
                               " title='" + pa_tooltip_from_list('<b>Empty fields:</b>', row.meta_profile_not_filled_fields) +
                               "'>" + data + "%</span>";
                    return "";
                }
            },
            {
                "targets": ["colRating"],
                "type": "string",
                "render": function(data, type, row) {
                    console.log(row);
                    if (data == "100")
                        return data + "%";
                    else if (data)
                        return "<a href='/admin/panopticum/componentversionmodel/" + row.id + "/change/' " +
                               " target=_blank data-toggle='tooltip' data-placement='left'" +
                               " title='" + pa_tooltip_from_list('<b>Bad rating:</b>', row.meta_bad_rating_fields) +
                               "'>" + data + "%</span>";
                    return "";
                }
            },
        ]
    });

    $('.update-table').on('change', function() {
        load_table(table);
    });

    load_table(table);
}

$(document).ready(function() {
    var refc = new Refcounter(create_table);

    populate_options(refc, "#product_version", "/api/product_version/?format=json", false);

    // Setup - add a text input to each footer cell

    $('#components thead tr').clone(true).appendTo('#components thead');
    $('#components thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();

        if (title == "Location") {
            $(this).html("<select class='update-table' id='location_class'></select>");
            populate_options(refc, "#location_class", "/api/location_class/?format=json", true);
        } else if (title == "Category") {
            $(this).html("<select class='update-table' id='component_category'></select>");
            populate_options(refc, "#component_category", "/api/component_category/?format=json", true);
        } else if (title == "Runtime Type") {
            $(this).html("<select class='update-table' id='component_runtime_type'></select>");
            populate_options(refc, "#component_runtime_type", "/api/component_runtime_type/?format=json", true);
        } else if (title == "Data Privacy Class") {
            $(this).html("<select class='update-table' id='component_data_privacy_class'></select>");
            populate_options(refc, "#component_data_privacy_class", "/api/component_data_privacy_class/?format=json", true);
        } else if ($(this).hasClass('searchable')) {
            $(this).html('<input type="text" placeholder="" />');
            $('input', this ).on('keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table.column(i).search(this.value).draw();
                }
            });
        } else {
            $(this).html('');
        }
    });

    $('.colVersion input').width('50px');
});
</script>

</div></div>
{% endblock %}
