{% extends "layout/_base.html" %}

{% block title %} Operations dashboard {% endblock title %}

{% block scripts %}
  {{ block.super }}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/index.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/locale/en.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

<div class="row title_left">
    <div class="col-sm-12">
        <h3>Maintenance dashboard</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12"><hr></div>
</div>
<div class="row">
    <div class="col-sm-12" id="vue-component">
        <widget-components-list :requirement-set-id="requirementSetId"></widget-components-list>
    </div>
</div>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
<script>


$(document).ready(function() {

    ELEMENT.locale(ELEMENT.lang.en);

    {% include "vue/status.js" %}
    {% include "vue/widget-components-list.js" %}
    {% include "vue/widget-signoff.js" %}
    const app = new Vue({
        el: "#vue-component",
        data: function() {
            return {
                requirementSetId: 2
            }
        }
    })
});
</script>

</div></div>
{% endblock %}
