{% extends "layout/_base.html" %}

{% block title %} Operations dashboard {% endblock title %}

{% block scripts %}
  {{ block.super }}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/index.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/locale/en.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
<div class="">
<div  id="vue-component">
    <dashboard-team></dashboard-team>
</div>
{% endblock %}
{% block extra_js %}
  {{ block.super }}
<script>


$(document).ready(function() {

    ELEMENT.locale(ELEMENT.lang.en);
    {% include "vue/status.js" %}
    {% include "vue/wdget-status-popover.js" %}
    {% include "vue/widget-components-list.js" %}
    {% include "vue/widget-signoff.js" %}
    {% include "vue/dashboard-team.js" %}
    const app = new Vue({
        el: "#vue-component"
    })
});
</script>

</div></div>
{% endblock %}
