.fieldBox select { width: 300px; min-width: 300px; }
.no-upper h2 { text-transform: unset; }

.select-50px select[multiple] {
    min-height: 50px;
}

.select-200px select[multiple] {
    min-height: 200px;
}

fieldset.requirements-admin tr.has_original td { padding-top: 8px !important; }
fieldset.requirements-admin tr.has_original td.original p { display: none; }
fieldset.requirements-admin tr.group-name { background-color: #ddd; }
fieldset.requirements-admin span.req-name { white-space: nowrap; }
