.fieldBox select { width: 300px; min-width: 300px; }
.no-upper h2 { text-transform: unset; }

.select-50px select[multiple] {
    min-height: 50px;
}

.select-200px select[multiple] {
    min-height: 200px;
}

fieldset.requirements-admin tr.has_original td { padding-top: 8px !important; }
fieldset.requirements-admin tr.has_original td.original p { display: none; }
fieldset.requirements-admin tr.group-name { background-color: #ddd; border-bottom: 2px solid #fff; }
fieldset.requirements-admin span.req-name { white-space: nowrap; }
fieldset.requirements-admin th.column-description,
fieldset.requirements-admin td.field-description { display: none; }

:root {
  --tooltip-bg-color: #ebecf0;
}

.tooltip-inner {
    position: relative;
    background-color: var(--tooltip-bg-color);
    font-size: 11px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    color: #444;
    text-align: left;
    max-width: 350px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0px 5px 0px;
    padding: 5px 10px;
    background-color: #eee;
    color: #333;
    border-radius: 3px; 
    display: block;
    line-height: 1.0em;
    white-space: normal;
}
