.markdown h1 { font-size: 1.4em; }
.markdown h2 { font-size: 1.3em; }
.markdown h3 { font-size: 1.2em; }
.markdown h4 { font-size: 1.1em; }
.markdown blockquote { font-size: 1em; }
.markdown ol, .markdown ul { margin-left: 0px; padding-left: 25px; }
