/* Bootstrap4 */
div.container {
  font-size: 12px !important;
  width: 100% !important;
  max-width: 100% !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(1.5rem + 2px);
  font-size: 12px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* DataTable */
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    top: 0px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    top: 0px;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0.0;
    float: right;
    position: relative;
    display: table-cell;
    width: 0px;
    left: -10px;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

table#components tr th,
table#components tr td {
    padding: 1px 2px 1px 3px;
    border: none;
}
table#components tr td {
    border: none;
}

table#components th select { width: 100%; }
