/* Bootstrap */
div.container {
  font-size: 12px !important;
  width: 100% !important;
  max-width: 100% !important;
}

footer {
    margin-left: 0px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.0rem + 2px);
  font-size: 12px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Panopticum side-by-side table */

.panopticum-side-by-side-table { margin: -5px; }
.panopticum-side-by-side-table div { padding: 0px; }
.panopticum-side-by-side-table div div { width: 100%; }
.panopticum-side-by-side-table div div h4 { padding: 0px; margin: 0px; width: 100%; padding: 10px 0px; text-align: center;}
.panopticum-side-by-side-table div div table { margin: 5px; width: 100%; }
.panopticum-side-by-side-table div:nth-child(odd) div h4 { background-color: #d0d0d0; }
.panopticum-side-by-side-table div:nth-child(odd) div { background-color: #e8e8e8; }
.panopticum-side-by-side-table div:nth-child(even) div h4 { background-color: #d8d8d8; }
.panopticum-side-by-side-table div:nth-child(even) div { background-color: #f0f0f0; }

.panopticum-side-by-side-cards { margin: -5px; flex-wrap: wrap; display: flex; }
.panopticum-side-by-side-cards div { padding: 0px; }
.panopticum-side-by-side-cards div div { width: 100%; }
.panopticum-side-by-side-cards div.row { flex-wrap: wrap; display: flex; margin: 0px; }
.panopticum-side-by-side-cards div.card table { margin: 5px; width: 95%; }
.panopticum-side-by-side-cards div.h-100 { height: 100%!important; }
.panopticum-side-by-side-cards div.h-50 { height: 50%!important; }
.panopticum-side-by-side-cards div.card h4 {
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: #d0d0d0;
}
.panopticum-side-by-side-cards div.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0f0f0;
    background-clip: border-box;
    border: 3px solid #fff;
}

/* DataTable */
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    top: 0px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    top: 0px;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    opacity: 0.0;
    float: right;
    position: relative;
    display: table-cell;
    width: 0px;
    left: -10px;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
    opacity: 1;
}

#components_filter input { margin-left: 10px; }
table#components {
    top: 10px;
    position: relative;
}
table#components tr th {
    background-color: #f8f8f8;
}
table#components tr th:first-child,
table#components tr td:first-child {
    padding-left: 10px;
}
table#components tr th,
table#components tr td {
    padding: 3px 2px 3px 3px;
    border: none;
}
table#components tr td {
    border: none;
}

table#components thead tr:first-child th {
    padding-top: 10px;
    border-top: 1px solid #777;
}

table#components thead tr:last-child th {
    padding-bottom: 10px;
    border-bottom: 1px solid #777;
}
table#components tbody tr:first-child td {
    padding-top: 6px;
}

table#components th select { width: 100%; }

/* Bootstrap-progressbar */
div.progress {
    margin-bottom: 16px;
}

/* Quality Assurance test links */
.widget_summary .w_right span {
    font-size: 12px;
}
.w_40 {
    width: 40%
}

.min_height_400 {
    min-height: 400px;
}

/* Component view */
table.col-3 { width: 100%; margin: 5px 0px; }
table.col-3 tr td { width: 4px; text-align: center; padding: 1px 5px 1px 0px; vertical-align: top; white-space: nowrap; }
table.col-3 tr td:first-child { text-align: right; }
table.col-3 tr td:last-child { text-align: left; }

table.col-3-center { width: 100%; margin: 5px 0px; }
table.col-3-center tr td { width: 4%; text-align: center; padding: 1px 5px 1px 0px; vertical-align: top; white-space: nowrap; }
table.col-3-center tr td:first-child { width: 48%; text-align: right; }
table.col-3-center tr td:last-child { width: 48%; text-align: left; }

table.component-details {
    margin: 5px 5px;
    width: 100%;
}
.component-details tr td {
    padding: 1px 5px 1px 0px;
    vertical-align: top;
}
.component-details tr td li {
    text-align: right;
    float: right;
    list-style: none;
    padding-left: 5px;
    width: 100px;
}
p.component-links {
    margin-top: 0px;
}
p.component-links span {
    padding: 0px 10px 0px 10px;
    border-left: 1px solid #444;
}
p.component-links span:first-child {
    border-left: 0px;
    padding-left: 0px;
}

.panel_toolbox {
    min-width: 40px;
}

.title_left h3 { margin-top: 4px; }

.body { color: #4a5159; }

/* Owners */
div.owners-list table td {
    margin: 0px;
    padding: 2px 0px;
}
div.owners-list table tr:first-child td {
    padding-top: 0px;
}
div.owners-list table td.ownership {
    width: 20%;
    vertical-align: middle;
    text-align: left;
    padding-right: 7px;
}
div.owners-list table td.owner {
    line-height: 14px;
    min-height: 44px;
}
div.owners-list table td.owner .block {
    background: #f7f7f7;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
    overflow: scroll;
}
div.owners-list table td.owner b {
    color: #338;
}

div.owners-list td.owner i {
    border: 1px solid #444;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    margin-right: 5px;
    text-align: center;
}
div.owners-list td.owner img {
    border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    float: left;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    display: table-cell;
}

/* Datacenter table */
table.dc-table {
    width: 100%;
}
table.dc-table tbody tr:first-child td {
    padding-top: 5px;
}
table.dc-table th, table.dc-table td {
    padding: 1px 2px;
    border-left: 1px solid #aaa;
    text-align: center;
}
table.dc-table th {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    background-color: #ddd;
} 
table.dc-table th:first-child, table.dc-table td:first-child {
    border-left: 0px;
}
table.dc-table tr:nth-child(even) td {
    background-color: #f0f0f0;
}
table.dc-table tr:nth-child(odd) td {
    background-color: #fff;
}

table.first-td-left th:first-child,
table.first-td-left td:first-child {
    text-align: left;
}

table.last-td-left th:last-child,
table.last-td-left td:last-child {
    text-align: left;
}

table.tests-table tbody tr:nth-child(even) td {
    background-color: #f0f0f0;
}

/* Menu toggle */
.toggle {
    width: 100%;
    padding-top: 0px;
}
.toggle a { padding: 0px; }
.site_title i { border: 0px; }
.nav-sm .navbar.nav_title a { text-align: center; }
.nav-sm .navbar.nav_title a i { margin: 0px; font-size: 24px; }
.nav-md .navbar.nav_title a i { margin: 0px 12px 0px 18px; font-size: 24px; }
.nav-sm .navbar.nav_title a i span, .nav-md .navbar.nav_title a i { font-size: 24px; }

/* Yes/No ckecks */
i.yes, i.no, i.unknown {
    font-size: 16px;
    position: relative;
    top: 1px;
    width: 16px;
    text-align: center;
}
i.yes { color: green; }
i.no { color: #bf9e9e; }
i.unknown { color: #aaa; }

td.pa-quality { white-space: nowrap; }
td.pa-quality i { width: 8px; }
td.pa-quality i.fa-star { color: green; }
td.pa-quality i.fa-star-o { color: #aaa; }
td.pa-quality i.unknown { font-size: 12px; color: crimson; }

span.yes, span.no, span.na, span.unknown {
    display: block;
    width: 35px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
}
span.yes { color: white;  background-color: green; }
span.no { color: #f64f4f; background-color: white; border: 1px solid #f64f4f; }
span.na { background-color: #eee; color: #777; border: 1px solid #ccc; }
span.unknown { background-color: #eee; color: #444; border: 1px solid #ccc; }
