    <div class="x_panel tile">
      <div class="x_title">
        <h2>Dependency (TODO)</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class='x_content' style='opacity: 0.5;'>

        <div class='row panopticum-side-by-side-table row-eq-height-xl row-eq-height-lg row-neq-height-md row-neq-height-sm row-eq-height-xs'>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>Services</h4>
              <table class='component-details'>
                <tr><td><i style='font-size: 9px;' class='fa fa-database'></i></td><td>Percona cluster (RW)</td></tr>
                <tr><td><i style='font-size: 9px;' class='fa fa-dot-circle-o'></i></td><td>Auth gateway (REST)</td></tr>
                <tr><td><i style='font-size: 9px;' class='fa fa-envelope-o'></i></td><td>Stats server (MQ "myqueue" rcv)</td></tr>
              </table>
            </div>
          </div>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>Libraries</h4>
              <table class='component-details'>
                <tr><td style='text-align: left;'>- aio-http<br>- alembic</tr>
              </table>
            </div>
          </div>
        </div>

        <br>

        <div class='row panopticum-side-by-side-table row-eq-height-xl row-eq-height-lg row-neq-height-md row-neq-height-sm row-eq-height-xs'>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>RDBMS persistency</h4>
              <table class='col-3-center'>
                <tr><td>Supported DBs</td><td>:</td><td>-</td></tr>
                <tr><td>ORM</td><td>:</td><td>-</td></tr>
                <tr><td>DB conn pool</td><td>:</td><td>-</td></tr>
                <tr><td>Volume model</td><td>:</td><td>-</td></tr>
                <tr><td>Data retention</td><td>:</td><td>-</td></tr>
              </table>
            </div>
          </div>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>NoSQL persistency</h4>
              <table class='col-3-center'>
                <tr><td>Supported DBs</td><td>:</td><td>-</td></tr>
                <tr><td>ORM</td><td>:</td><td>-</td></tr>
                <tr><td>DB conn pool</td><td>:</td><td>-</td></tr>
                <tr><td>Volume model</td><td>:</td><td>-</td></tr>
                <tr><td>Data retention</td><td>:</td><td>-</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
