    <div class="x_panel tile">
      <div class="x_title">
        <h2>Maintenance</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class='x_content'>
        <div class='row panopticum-side-by-side-cards'>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div class="card h-100">
              <h4>Datacenters</h4>
              <table class='dc-table'>
                <thead><tr><th>DC</th><th>Y/N</th><th>Metrics</th><th>Logs</th><th>Alerts</th></tr></thead>
                <tbody>
                  <tr><td>US1</td><td>YES</td><td><a href='#'>metrics</a></td><td>-</td><td>-</td></tr>
                  <tr><td>US2</td><td>YES</td><td><a href='#'>metrics</a></td><td>-</td><td>-</td></tr>
                  <tr><td>US3</td><td>YES</td><td><a href='#'>metrics</a></td><td>-</td><td>-</td></tr>
                  <tr><td>US4</td><td>YES</td><td><a href='#'>metrics</a></td><td>-</td><td>-</td></tr>
                  <tr><td>EU1</td><td>YES</td><td><a href='#'>metrics</a></td><td><a href='#'>logs</a></td><td>-</td></tr>
                  <tr><td>EU2</td><td>YES</td><td><a href='#'>metrics</a></td><td><a href='#'>logs</a></td><td>-</td></tr>
                  <tr><td>AU1</td><td>YES</td><td><a href='#'>metrics</a></td><td>-</td><td><a href='#'>alerts</a></td></tr>
                  <tr><td>XG1</td><td>No</td><td><a href='#'>-</a></td><td>-</td><td>-</td></tr>
                  <tr><td>XG2</td><td>No</td><td><a href='#'>-</a></td><td>-</td><td>-</td></tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>

            <div class="row h-100">
              <div class="col-md-12">
                <div class="row h-100">
                  <div class="col-md-12">
                    <div class="card h-100">
                      <h4>Troubleshooting</h4>
                      <table class='col-3'>
                        <tr><td>HTTP req tracing</td><td>:</td><td><span class='yes'>YES</span></td></tr>
                        <tr><td>Logging format</td><td>:</td><td><span class='yes'>YES</span></td></tr>
                        <tr><td>Logs storage</td><td>:</td><td><span class='yes'>YES</span></td></tr>
                        <tr><td>Anonymisation</td><td>:</td><td><span class='no'>NO</span></td></tr>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card h-100">
                      <h4>Open ports</h4>
                      <div style='padding: 5px 5px 5px 20px;'>
                      :80 (HTTP)<br>
                      :22 (SSH)
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
