        <div class="x_panel min_height_400">
          <div class="x_title">
            <h2>Owners</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="owners-list">

              <table style='width: 100%;'>
              <tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><img src="/static/images/img.jpg"></div>
                    <div class='details'>
                      <b>Martin Smith</b> - Team Lead, Platform<br>
                      <a href='mailto:ms@example.com'>martin.s@example.com</a>, +1234567890
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><img src="/static/images/img.jpg"></div>
                    <div class='details'>
                      <b>Brad Pitt</b> - Product Manager<br>
                      <a href='mailto:brad@example.com'>brad@example.com</a>, +1234567890
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><img src="/static/images/img.jpg"></div>
                    <div class='details'>
                      <b>Shane Sinclair</b> - Program Manager<br>
                      <a href='mailto:ss@example.com'>Shane.Sinclair@example.com</a>, +1234567890
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><img src="/static/images/img.jpg"></div>
                    <div class='details'>
                      <b>Silvana Milani</b> - QA Lead, Platform<br>
                      <a href='mailto:sm@example.com'>sm@example.com</a>, +1234567890
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><img src="/static/images/img.jpg"></div>
                    <div class='details'>
                      <b>Rosa A. Jeppesen</b> - Chief Architect<br>
                      <a href='mailto:rj@example.com'>rosa.jeppensen@example.com</a>, +12345678901
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><i class='fa fa-phone'></i></div>
                    <div class='details' style='min-height: 42px;'>
                      <b>Escalation list:</b><br>
                      <a href='mailto:aa@example.com'>miro.lovric@example.com</a>, +12345678901<br>
                      <a href='mailto:dh@example.com'>david.hake@example.com</a>, +12345678901<br>
                    </div>
                  </div>
                </td>
              </tr><tr>
                <td class='owner'>
                  <div class='block'>
                    <div class='image'><i class='fa fa-question'></i></div>
                    <div class='details' style='min-height: 42px;'>
                      <b>Experts:</b><br>
                      <a href='mailto:am@example.com'>alexander.mcqueen@example.com</a>, +12345678901<br>
                      <a href='mailto:ld@example.com'>Lela.Decker@example.com</a>, +12345678901<br>
                    </div>
                  </div>
                </td>

              </tr></table>
            </div>
          </div>
        </div>
