                    <div style='width: 100%; text-align: center;'>
                      <div style="text-align: center; margin-bottom: 0px">
                        <span class="chart" style="width: 70px; height: 70px;" data-percent="65" data-bar-color="#c55" data-track-color="#eee" data-size="60" data-line-width="8" data-track-width="10">
                                            <span class="percent" style='line-height: 60px; font-size: 14px;'>65</span>
                      </div>
                        <p>Cloud Requirements<br>completion</p>
                    </div>
