                    <div style='width: 100%; text-align: center;'>
                      <div style="text-align: center; margin: 10px 0px;">
                        <span class="chart" style="width: 60px; height: 60px;" data-percent="89" data-bar-color="green" data-track-color="#eee" data-size="60" data-line-width="8" data-track-width="10">
                                            <span class="percent" style='line-height: 60px; font-size: 14px;'>65</span>
                      </div>
                        <p style='padding-right: 10px; line-height: 14px;'>Overal Testability<br>Rating</p>
                    </div>
