{% load static %}
<el-card>
  <div slot="header" class="clearfix">
    <h2 v-cloak>Responsibility</h2>
  </div>

  <table class='status-table' v-cloak>
    <thead>
      <tr>
        <th>Category</th>
        <th>Status</th>
        <th>People</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maintainers</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version && component.latest_version.owner_maintainer && component.latest_version.owner_maintainer.username' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_maintainer'>[[ component.latest_version.owner_maintainer.username ]]</span>
        </td>
      </tr>
      <tr>
        <td>Quality Assurance</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version && component.latest_version.owner_responsible_qa && component.latest_version.owner_responsible_qa.username' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_responsible_qa'>[[ component.latest_version.owner_responsible_qa.username ]]</span>
        </td>
      </tr>
      <tr>
        <td>Code Experts</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version.owner_expert.length > 0' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_expert.length > 0'>[[ component.latest_version.owner_expert.map(object => object.username).join(', ') ]]</span>
        </td>
      </tr>
      <tr>
        <td>3-rd line support</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version.owner_escalation_list.length > 0' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_escalation_list.length > 0'>[[ component.latest_version.owner_escalation_list.map(object => object.username).join(', ') ]]</span>
        </td>
      </tr>
      <tr>
        <td>Architects</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version.owner_architect.length > 0' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_architect.length > 0'>[[ component.latest_version.owner_architect.map(object => object.username).join(', ') ]]</span>
        </td>
      </tr>
      <tr>
        <td>Product managers</td>
        <td v-cloak class='pa-status'>
              <i v-cloak v-if='component.latest_version.owner_product_manager.length > 0' class='el-icon-circle-check yes'></i>
              <i v-cloak v-else class='unknown fa fa-question-circle'></i>
        </td>
        <td>
              <span v-if='component.latest_version.owner_product_manager.length > 0'>[[ component.latest_version.owner_product_manager.map(object => object.username).join(', ') ]]</i>
        </td>
      </tr>
    </tbody>
  </table>
</el-card>
