      <el-card class="box-card">
        <div slot="header" class="clearfix"><h2>Summary</h2></div>
        <div class='row' v-cloak v-if='component.description'>
          <div class='col-sm-12'>
              [[ component.description ]]
          </div>
        </div>
        <div class='panopticum-side-by-side-table'>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>Development</h4>
              <table class='col-3-center'>
                <tr><td>Vendor</td><td>:</td><td><div v-cloak>[[ component.vendor.name ]]</div></td></tr>
                <tr><td>Language</td><td>:</td><td><div v-cloak>[[ component.latest_version?.dev_languages ]]</div></td></tr>
                <tr><td>Type</td><td>:</td><td><div v-cloak>[[ component.type.name ]]</div></td></tr>
                <tr><td>Life status</td><td>:</td><td><div v-cloak>[[ component.life_status ]]</div></td></tr>
                <tr><td>API is public</td><td>:</td><td><div v-cloak>[[ component.latest_version?.dev_api_is_public ]]</div></td></tr>
                <tr><td>Data access</td><td>:</td><td><div v-cloak>[[ component.data_privacy_class?.name ]]</div></td></tr>
              </table> 
            </div>
          </div>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div>
              <h4>Links</h4>
              <table class='col-3-center'>
                <tr><td>RAML</td><td>:</td><td><widget-links v-cloak v-bind:text="component.latest_version?.dev_raml || ''"></widget-links></td></tr>
                <tr><td>Repository</td><td>:</td><td><widget-links v-cloak :text="component.latest_version?.dev_repo || ''"></widget-links></td></tr>
                <tr><td>Issue tracker</td><td>:</td><td><widget-links v-cloak :text="component.latest_version?.dev_issuetracker_component || ''"></widget-links></td></tr>
                <tr><td>Public Docs</td><td>:</td><td><widget-links v-cloak :text="component.latest_version?.dev_public_docs || ''"></widget-links></td></tr>
                <tr><td>Internal Docs</td><td>:</td><td><widget-links v-cloak :text="component.latest_version?.dev_docs || ''"></widget-links></td></tr>
                <tr><td>Build job</td><td>:</td><td><widget-links v-cloak :text="component?.latest_version?.dev_build_jenkins_job || ''"></widget-links></td></tr>
              </table>
            </div>
          </div>
        </div>
        <div class='row' v-cloak>
          <div class='col-sm-12'>
          </div>
        </div>
      </el-card>
