<el-card v-if="component.latest_version.deployments && component.latest_version.deployments.length">
  <div slot="header" class="clearfix">
    <h2>Deployments</h2>
  </div>

    <h4>Deployment Types</h4>
    <table class='status-table table-auto-width' v-cloak>
      <thead>
        <tr>
          <th>Product</th>
          <th>Location</th>
          <th>Env</th>
          <th>Service</th>
          <th>Ports</th>
          <th>Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for='d in component.latest_version.deployments'>
          <td v-tooltip:right="[[ d.product_version.name ]]">[[ d.product_version.shortname]]</td>
          <td>[[ d.location_class.name ]]</td>
          <td>[[ d.environment.name ]]</td>
          <td>[[ d.service_name ]] [[ d.binary_name ]]</td>
          <td>[[ d.open_ports ]]</td>
          <td class='pa-replace-urls'>[[ d.notes ]]</td>
        </tr>
      </tbody>
    </table>
</el-card>
