{% verbatim %}<div class="title_left">
           <h3 style='margin-bottom: 3px;'>
             <span v-cloak>[[ component.name ]]
              <el-select v-model="selectedVersion" placeholder="no versions" size="mini" style="width: 90px;">
                <el-option
                  v-for="version in versions"
                  :key="version.id"
                  :label="version.version"
                  :value="version.id">
                </el-option>
              </el-select>
             </span>
             &nbsp;
           </h3>
           <p class='component-links'>
             <span v-cloak>[[ component.type.name ]]</span>
             <span v-cloak>[[ component.category.name ]]</span>&nbsp;
           </p>
         </div>{% endverbatim %}
