        <div class="x_panel tile min_height_400">
          <div class="x_title">
            <h2>Quality Assurance</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class='row'>
              <div class='col-sm-12 col-12 col-lg-8'>
                <div align='center'>
                  <canvas id="qa-radar" style='position: relative; top: 5px;'></canvas>
                </div>
              </div>
              <div class='col-sm-12 col-12 col-lg-4'>
                <div align='center'>
                  {% include "widget/component_quality_assurance_rating.html" %}
                </div>
              </div>
            </div>
          </div>
          <div class="x_content">
            <table class='dc-table tests-table first-td-left last-td-left'>
              <thead>
                <tr>
                  <th>Test type</th>
                  <th>Rating</th>
                  <th>Links</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Unit tests</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                  </td>
                  <td>-</td><td>Go-unit CI; 80% code coverage</td>
                </tr>

                <tr>
                  <td>End-to-end</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                  </td>
                  <td><a href='#'>link</a></td><td>Gerkin CI; Old on spboard</td>
                </tr>

                <tr>
                  <td>Performance</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                  </td>
                  <td><a href='#'>link</a></td><td>k6i, good coverage, 1M volume</td>
                </tr>

                <tr>
                  <td>Long haul</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                  </td>
                  <td>-</td><td>200K agents</td>
                </tr>

                <tr>
                  <td>Security tests</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                  </td>
                  <td>-</td><td>Automated fuzzing</td>
                </tr>

                <tr>
                  <td>API tests</td>
                  <td>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: green;' class='fa fa-star'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                  </td>
                  <td>-</td><td>ART CI</td>
                </tr>

                <tr>
                  <td>Anonymisation</td>
                  <td>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                  </td>
                  <td>-</td><td>JIRA-123</td>
                </tr>

                <tr>
                  <td>Upgrade</td>
                  <td>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                    <i style='color: #aaa;' class='fa fa-star-o'></i>
                  </td>
                  <td>-</td><td>Manual before release</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

{% block extra_js %}
<script>
function init_qa_radar()
{
    if ($('#qa-radar').length) {

        var options = {
            legend: { display: false },
            scale: {
                ticks: {
                    max: 3,
                    min: 0,
                    stepSize: 1
                }
            }
        }

        var ctx = document.getElementById("qa-radar");
        var data = {
            labels: ["Unit tests", "End-to-end", "Performance", "Long haul", "Security", "API validation", "Anonymisation", "Upgrade"],
            datasets: [
            {
                label: "Tests Scope",
                backgroundColor: "rgba(3, 88, 106, 0.2)",
                borderColor: "rgba(3, 88, 106, 0.80)",
                pointBorderColor: "rgba(3, 88, 106, 0.80)",
                pointBackgroundColor: "rgba(3, 88, 106, 0.80)",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                data: [3, 3, 3, 0, 1, 2, 1, 2]
            }]
        };

        var canvasRadar = new Chart(ctx, {
            display: false,
            type: 'radar',
            options: options,
            data: data,
        });
    }
}

$(document).ready(function() {
    init_qa_radar();
});
</script>
{% endblock %}
