        <div class="x_panel tile min_height_400">
          <div class="x_title">
            <h2>Quality Assurance
              <span class='pa-component-stars' v-cloak v-if='component.latest_version.qa_applicable'>
                [[ component.latest_version.meta_qa_rating ]]
              </span>
              <span class='pa-component-rating' v-cloak v-if='component.latest_version.qa_applicable'>
                [[ component.latest_version.meta_qa_rating ]]%
              </span>
            </h2>

            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class='status-table' v-bind:class="[ component.latest_version.qa_applicable ? '' : 'status-table-na']" v-cloak>
              <thead>
                <tr>
                  <th>Test type</th>
                  <th>Rating</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for='item in component.latest_version.quality_assurance' v-cloak>
                  <td>[[ item.title ]]</td>
                  <td class='pa-quality'>[[ item.status ]]</td>
                  <td class='pa-replace-urls'>[[ item.notes ]]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
