<el-card v-if="component.latest_version.depends_on && component.latest_version.depends_on.length">
  <div slot="header" class="clearfix">
    <h2>Dependencies</h2>
  </div>

  <h4>Services</h4>
  <table class='status-table' v-cloak>
    <thead>
      <tr>
        <th>Service</th>
        <th>Dependency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for='item in component.latest_version.depends_on' v-if="item.type !== 'includes'" v-cloak>
        <td><a v-bind:href="'/component/' + item.component.id">[[ item.component.name ]]</a></td>
        <td class='pa-dependency'>[[ item.type ]]</td>
        <td class='pa-replace-urls'>[[ item.notes ]]</td>
      </tr>
    </tbody>
  </table>

  <h4>Libraries</h4>
  <table class='status-table' v-cloak>
    <thead>
      <tr>
        <th>Library</th>
        <th>Vendor</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for='item in component.latest_version.depends_on' v-if="item.type === 'includes'" v-cloak>
        <td>[[ item.component.name ]]</td>
        <td>[[ item.component.vendor.name ]]</td>
        <td class='pa-replace-urls'>[[ item.notes ]]</td>
      </tr>
    </tbody>
  </table>
</el-card>
