        <div class="x_panel">
          <div class="x_title">
            <h2>Deployments (TODO)</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content" style='opacity: 0.5;'>

            <h3>Deployment Types</h3>
            <table class='status-table table-auto-width' v-cloak>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Location</th>
                  <th>Ports</th>
                  <th>Notes</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for='item in component.latest_version.locations'>
                  <td>-</td><td>[[ item.name ]]</td><td>-</td><td>-</td>
                </tr>
              </tbody>
            </table>

            <h3>Cloud deployments</h3>
            <table class='status-table table-auto-width'>
              <thead>
                <tr class='auto-width'>
                  <th>Datacenter</th>
                  <th>Y/N</th>
                  <th>Metrics</th>
                  <th>Logs</th>
                  <th>Alerts</th>
                  <th>Notes</th>
                </tr>
              </thead>

              <tbody>
                <tr><td>US1</td><td>YES</td><td><a href="#">metrics</a></td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>US2</td><td>YES</td><td><a href="#">metrics</a></td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>US3</td><td>YES</td><td><a href="#">metrics</a></td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>US4</td><td>YES</td><td><a href="#">metrics</a></td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>EU1</td><td>YES</td><td><a href="#">metrics</a></td><td><a href="#">logs</a></td><td>-</td><td>-</td></tr>
                <tr><td>EU2</td><td>YES</td><td><a href="#">metrics</a></td><td><a href="#">logs</a></td><td>-</td><td>-</td></tr>
                <tr><td>AU1</td><td>YES</td><td><a href="#">metrics</a></td><td>-</td><td><a href="#">alerts</a></td><td>-</td></tr>
                <tr><td>XG1</td><td>No</td><td><a href="#">-</a></td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>XG2</td><td>No</td><td><a href="#">-</a></td><td>-</td><td>-</td><td>-</td></tr>
              </tbody>
            </table>
          </div>
        </div>
