    <div class="x_panel tile">
      <div class="x_title">
        <h2>Cloud Operations</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class='x_content'>
        <div class='row panopticum-side-by-side-cards'>
          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>
            <div class="card h-100">
              <h4>Requirements</h4>
              <table class='dc-table first-td-left'>
                <thead><tr><th>Requirement</th><th>Y/N</th><th>Signed</th></tr></thead>
                <tbody>
                  <tr><td>Operational guide</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>Failover</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>Horizontal scale</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>Scaling guide</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>SLO/SLI</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>Metrics</td><td><a href='#'>YES</a></td><td><i class='fa fa-times no'></i></td></tr>
                  <tr><td>Alerts</td><td><a href='#'>YES</a></td><td><i class='fa fa-check-square yes'></i></td></tr>
                  <tr><td>Zero-downtime</td><td><a href='#'>YES</a></td><td><i class='fa fa-times no'></i></td></tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class='col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-6'>

            <div class="row h-100">
              <div class="col-md-12">
                <div class="row h-100">
                  <div class="col-md-12">
                    <div class="card h-100" style='background-color: white;'>
                      {% include "widget/component_cloud_requirements_completion.html" %}
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="card h-100">
                      <h4>Operations Hints</h4>
                      <table class='col-3'>
                        <tr><td>Safe restart</td><td>:</td><td><span class='yes'>YES</span></td></tr>
                        <tr><td>Safe delete</td><td>:</td><td><span class='no'>NO</span></td></tr>
                        <tr><td>Safe redeploy</td><td>:</td><td><span class='unknown'>?</span></td></tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
